* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: green;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.grid {
    width: 606px;
    height: 606px;
    /* display: flex;  */
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.square {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.mole1 {
    background-color: blueviolet;
}

.mole2 {
    background-color: green;
}

.mole3 {
    background-color: yellow;
}